@charset "UTF-8";

/* 추천경로 리스트 */
#area_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#tema_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.path_box {
	width: clac(20% - 10px);
	margin-bottom: 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 30px;
	transition: transform 0.2s ease;
}

.path_box:hover {
	transform: translateY(-10px); /* 마우스를 올렸을 때 약간 위로 이동 */
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.path_image {
	width: 220px;
	height: 280px;
}

.path_image img {
	border-radius: 10px;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.path_text {
	margin-top: 10px;
	width: 220px;
	height: 50px;
	text-align: center;
	color: gray;
	font-size: 16px;
}

.path_button {
	display: flex;
	padding-bottom: 10px;
}

.path_button button {
	padding: 10px;
	margin: 0 10px 10px 0;
}

/* 슬라이드 이미지 */
.img_slider {
    margin: 10px auto;
    padding: 10px;

}
.slide_show{
    border-radius:3%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider {
    border-radius:3%;
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.img_wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
