@charset "UTF-8";
@import "../common_css/reset.css";
* {
  box-sizing: border-box;
}
a {
	text-decoration: none;
}

body {
	background-image: url(/resources/ko_images/bg.png);
}

/* 추천경로 리스트 */
#area_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#tema_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.path_box {
	width: clac(20% - 10px);
	margin-bottom: 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 30px;
	transition: transform 0.2s ease;
	background-color: white;
}

.path_box:hover {
	transform: translateY(-10px); /* 마우스를 올렸을 때 약간 위로 이동 */
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.path_image {
	width: 220px;
	height: 280px;
}

.path_image img {
	border-radius: 10px;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.path_text {
	margin-top: 10px;
	width: 220px;
	height: 50px;
	text-align: center;
	color: black;
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
}

.path_button {
	display: flex;
	padding-bottom: 10px;
}

.path_button button {
	padding: 10px;
	margin: 0 10px 10px 0;
}

/* 슬라이드 이미지 배경 */
.img_slider2 {
    margin: 10px auto;
    display: flex;
	z-index: -1;
	position: absolute;
	background-color: white;
    border-radius: 20px;
	
}

.slide_show2{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.6;
}

.slider2 {
    border-radius:3%;
    width: 1300px;
    height: 700px;    
    display: flex;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.fade2 {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade2 {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* 텍스트 */
.change {
	display: none;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding-top: 200px;
	line-height: 100px;
	font-weight: bold;
	text-align: center;
}

.change p {
	font-size: 90px;
}

.change span {
	font-size: 60px;
}


/* 슬라이드 이미지 */
.img_wrapper {
	position: relative;
	width: 100%;
	height: 700px;
	margin-bottom:50px; 
}

.img_slider {
    margin: 0px auto;
    display: flex;
	z-index: 5;
	position: absolute;
	top: 170px;
	left: 60px;
	
}
.slide_box {
	width: 500px;
	height: 500px;
	padding: 0px;
	margin: 0px;
}

.slide_show{
    border-radius:3%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider {
    border-radius: 10px;
    width: 700px;
    height: 500px;    
    display: flex;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}




