@charset "UTF-8";

body {
	background-color: #F9F3FF;
}

.ko_detail {
	margin-bottom: 50px;	
}

.path_empty {
	margin: 30px;
}

.detail_main {
	margin: 20px;
	display: grid;
	grid-template-columns: 5fr 5fr;
	margin-top: 40px;
}

.main_image {
	vertical-align: middle;
}

.main_image img {
	margin: 10px;
	border-radius: 20px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.main_content {
	margin-left: 30px;
	padding: 10px;
}

.title {
	margin: 0 auto;
	text-align: center;
}

.title h1 {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 10px;
}

.content_table {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 10px;
	border-style: hidden;
	box-shadow: 0 0 0 1px #000;
}

.main_content th {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100px;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
}

.main_content td {
	border: 1px solid black;
	border-collapse: collapse;
	width: 450px;
	text-align: center;
	padding: 10px;
	line-height: 20px;
}

/* 찜하기 버튼 */
.wish_btn {
	text-align: center;
	margin: 20px auto;
}

.wish_btn img {
	vertical-align: middle;
}

.wish_btn button {
	padding: 10px;
	border: none;
	outline: none;
	background-color: pink;
	font-size: 20px;
	color: white;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 0 10px pink;
}

.wish_btn button:hover {
	color: #FF6C6E;
	font-weight: bold;
}

.heart-state {
	background-color: black;
}

.wish-added {
	background-color: pink;
}

.like_count {
	text-align: center;
}

.like_count img {
	vertical-align: middle;
}

.heart-count {
	padding: 10px;
	font-size: 20px;
	background-color: skyblue;
	color: white;
	border-radius: 10px;
	box-shadow: 0 0 10px skyblue;
	display: inline-block;
}

/* 상세설명 */
.detail_content {
	margin: 20px auto;
	width: 1000px;
	padding: 10px;
	line-height: 40px;
	font-size: 20px;
}

.detail_content li {
	list-style: disc;
}

.detail_content h2 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 10px;
}

/* 지도 */
.detail_map h2 {
	font-size: 30px;
	font-weight: bold;
	margin: 20px;
	margin-top: 30px;
}

.detail_map {
	margin: 20px auto;
	width: 1000px;
}

/* 해당 장소 포함된 경로 */
.detail_path {
	margin: 20px auto;
	width: 1000px;
	margin-bottom: 40px;
}

.detail_path h2 {
	font-size: 30px;
	font-weight: bold;
	margin: 20px;
	margin-top: 30px;
}

#path_wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	margin-top: 30px;
}

.path_box {
	margin-bottom: 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 20px;
	transition: transform 0.2s ease;
}

.path_box:hover {
	transform: translateY(-10px); /* 마우스를 올렸을 때 약간 위로 이동 */
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.path_image img {
	border-radius: 20px 20px 0px 0px;
	width: 100%;
	object-fit: cover;
}

.path_text {
	margin-top: 10px;
	width: 220px;
	height: 50px;
	text-align: center;
	color: gray;
	font-size: 16px;
}