@charset "UTF-8";

/*  */
.user_btn {
	border: none;
	padding: 5px;
	border-radius: 5px;
	background-color: pink;
	color: black;
	font-weight: bold;
	margin-top: 30px; 
}

.user_btn:hover{
	background-color: black;
	color: pink;
	cursor: pointer;
}
.popup {
	display: flex;
}

.popup_form {
	width: 400px;
	margin: 0 auto;
	margin-top: 100px;
}

.popup_form h2 {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

.pop_btn {
	border: none;
	padding: 5px;
	border-radius: 5px;
	background-color: pink;
	color: black;
	font-weight: bold;
}

.pop_btn:hover{
	background-color: black;
	color: pink;
	cursor: pointer;
}

.popup_form table {
	margin: 0 auto;
	border: black 1px solid;
	border-collapse: collapse;
}
.popup_form th {
	padding: 10px;
	font-weight: bold;
	background-color: pink;
	font-size: 1.1em;
	text-align: center;
	margin: 10px;
	border: black 1px solid;
}
.popup_form td {
	padding: 10px;
	vertical-align: middle;
	border: black 1px solid;
}
.pop_title {
	width: 90%;
}

.popup_table {
	width: 700px;	
}

.popup_table table{
	border: black 2px solid;
	margin: 30px auto;
	border-collapse: collapse;
}

.popup_table th {
	border: black 2px solid;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	background-color: pink;
	font-size: 1.1em;
}
.popup_table td {
	border: black 2px solid;
	padding: 10px;
	vertical-align: middle;
}

/*  */
#content_table table{
	border: none;
	margin: 0 auto;
	width: 400px;
	table-layout: fixed;
}
#content_table td{
	border: none;
	padding: 5px;
	width: 70%;
}
#content_table th{
	border: none;
	text-align: left;
	padding: 5px;
	font-weight: bold;
	background-color: white;
	width: 30%;
}


/* paging */
.popup_page {
	margin: 0 auto;
	width: 300px;
	height: 100px;
}

ol.paging {
	list-style: none;
	/* ol 자체를 가운데 정렬하기 */
	display: table;
  	margin-left: auto;
 	margin-right: auto;
}

ol.paging li {
	margin-right: 10px;
	float: left;
}

ol.paging li a {
	display: block;
	padding: 3px 7px;
	color: black;
	font-weight: bold;
	text-decoration: none;
	
}

ol.paging li a:hover {
	background: skyblue;
	font-weight: bold;
	color: white;
}

.disable {
	padding: 3px 7px;
	color: silver;
}

.now {
	padding: 3px 7px;
	background: pink;
	color: white;
	font-weight: bold;
}


