@charset "UTF-8";
body{
	background-image: url(/resources/ko_images/bg.png);
}
#mypage{
	margin: 0 auto; 
	width: 1300px;
}

#mypage > article{
	margin: 30px auto 30px;
	background-color: white;
	border-radius:3%;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.my_profile_box{
	width: 100%;
	height: 120px;
	
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.profile_image{
	widows: 5%;
	height: 100px;
}

.profile_box_left{
	width: 20%;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.update_button{
	width: 150px;
	height: 30px;
}

.pro_image{
	width: 83%;
	height: 100%;
}

.profile_box_right{
	border-left: 1px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 75%;
}

.with_list_box{
	width: 100%;
	height: 350px;	
}

.with_list_box_top{
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 25px;
	margin-bottom: 40px;
	font-weight: bold;
	background-color: pink;
    border-radius: 20px;
    box-shadow: 0 0 10px lightpink;
}


.with_list_box_bottom{
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
}

.with_box{
	width: 200px!important;
	height: 240px!important;
	margin: 0px 10px;
	display: flex;
	flex-direction: column;
	
}

.with_img{
	width: 200px;
	height: 160px;
	object-fit: cover;
}

.with_title{
	width: 200px;
	height: 20px;
	display: flex;
	align-content: center;
	justify-content: center;
	font-weight: bold;
}

.with_sub_title{
	width: 200px;
	height: 20px;
	display: flex;
	align-content: center;
	justify-content: center;
}

.empty{
	display: flex;
	justify-content: space-around;
	font-size: 20px;
	padding-top: 80px;
}
.write_empty{
	display: flex;
	justify-content: space-around;
	font-size: 20px;
	padding-top: 80px;
}

.comu_header{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
	background-color: pink;
    border-radius: 20px;
    box-shadow: 0 0 10px lightpink;
}
.comu_main{
	height: 300px;
}
.comu_menu{
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin : 0 auto 20px;
	font-size: 20px;
	font-weight: bold;
	width: 90%;
}
.comu_menu > p{
	width: 250px;
}
.write_main{
	display: flex;
	justify-content: space-around;
	margin: 0 auto 10px;
	border-bottom: 1px solid black;
	width: 90%;
	padding-bottom: 5px;
	
}
.write_main > p{
	width: 250px;
	text-align: center;
	white-space: nowrap;
	text-overflow : ellipsis;
	overflow: hidden;
}

