@charset "UTF-8";
#map {
	margin: 100px auto 50px;
	width: 80%;
	height: 400px;
}

#wish_box{
	display: flex;
	width: 90%;
	flex-wrap: wrap;
}

#wish_title{
	width: 100%;
	text-align: center;
}

.wishs{
	width: 20%;
	height: 100px;
}

.wishs img{
	width: 100%;
	height: 100%;
	object-fit : contain;	
}

.wishs div:nth-of-type(1){
	width: 100%;
	height: 50px;
}
