@charset "UTF-8";

.boardcontainer {
	padding-top: 30px;	
}

#boardtable{
	width: 900px;
	border-top: 3px solid black;
	margin: 0px auto;
}

.boardtabletd {
	border-bottom: 1px dotted black;
}

.boardtr{
	border-bottom: 1px dotted black;
}

.boardcaption {
	font-size: 2em;
	font-weight: bold;	
	margin-bottom: 20px;
	text-align: left;
}

.boardcreate {
	width: 800px;
	text-align: center;
	padding: 30px;
	border-bottom: 1px solid black;
	margin: auto;
}





.boardmenu {
	background-color: pink;
	padding: 10px;
	text-align: left;
	font-weight: bold;
	font-size: 1em;
	width: 75px;
}

.userin {
	text-align: left;
	padding: 5px;
}


.but4 {
	background-color: #F9F3FF;
	height: 35px;
	width: 150px;
	border-radius: 10px;
}

.but5 {
	background-color: #F9F3FF;
	height: 35px;
	width: 150px;
}


.but4:hover {
	background-color: black;
	color: white;
	border: 2px solid black;
}

.but5:hover {
	background-color: black;
	color: white;
	border: 2px solid black;
}

input[type="text"], [type="password"]{
	height: 30px;
}


.menu{
	vertical-align: middle;
}


#summernote{
	resize: none;
}

.recomment{
	display: flex;
	flex-direction:  column;
	flex-wrap: nowrap;
	padding: 30px;
	width: 800px;
	margin: 0 auto;
	justify-content: center;
}
.renick{
	float: left;
	height: 30px;
	justify-content: center;
	margin-right: 20px;
	margin-top: 7px;
	width: 12%;
}
.recontent{
	float: left;
	height: 26px;
	padding-top: 1px;
	margin: 0px;
	justify-content: center;
	width: 50%;
}
.rebutton{
	float: right;
	height: 30px;
	justify-content: center;
	
}
 textarea {
    width: 100%;
    height: 26px;
    resize: none;
    border: none;
    border-bottom: 1px solid black;
  }

#empty-area{
	height: 300px;
}


#claim_subject {
	width: 80%;
}





