@charset "UTF-8";
body{
	
	vertical-align: middle;
}

/* 페이징 */
.board-list-paging {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 85%;
}
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.pagination li {
  width: 40px;
  margin: 5px;
  text-align: center;
}
.pagination li:hover {
  cursor: pointer;
}
.nowPage {
  background-color: gray;
}
.pagination .nowPageInput{
	margin-left:0;
	margin-right:10px;
	width: 40px;
}

.pageMoveForm{
  display: flex;
  justify-content: center;	
  align-items: center;
}
.pageMove {
  width: 50px;
  height: 35px;
  border: 2px solid black;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
}
.pageMoveButton {
  height: 35px;
  border: 2px solid black;
  font-size: 16px;
  border-radius: 4px;
  background-color: white; /* 버튼 배경색 */
  color: black; /* 글자색 */
  cursor: pointer; /* 커서 모양 설정 */
  transition: background-color 0.3s, color 0.3s; /* 호버 효과를 위한 transition */
}
/* 페이징 끝 */


#bigbox{
	width: 1200px;
	margin: 0 auto;
	margin-top : 40px;	
		
	}
	
#list_maint{
	font-size: 30px;
	margin-bottom: 50px;
	text-align: center;
}
#listtable{
	width: 80%;
	margin: 0 auto;
	vertical-align: middle;
	margin-bottom: 20px;
}

#listtable tr{
	border-bottom: 1px solid black;	
}
#listtable tr td{
	vertical-align: middle;

}

.list_title {
	font-size: 20px; 	
	height: 30px;
	vertical-align: middle;
	
	
}

.list_title th, td{
	text-align: center;
	margin: 0 auto;
	border-bottom: 1px solid black;
	border-collapse: collapse;
	height: 40px;
	vertical-align: middle;
}

#content_css td{
	vertical-align: middle;
	border-bottom: 1px solid black;
	border-collapse: collapse;
}


.content_css tr {
        height: 40px; 
    }

#bwbtn{
	border-radius: 10px;
	display: inline-block;
	background-color: #F9F3FF;
}

button.reportwbtn{
	border: none;
	border-radius: 15px;
	background-color: pink;
	color: white;
	font-family: "Gamja Flower", sans-serif;
	width: 75px;
	height: 35px;
	font-size: 20px;
}

#empty-area{
	height: 300px;
}
	







