@charset "UTF-8";

.reportcontainer {
	padding-top: 30px;	
}

#reporttable{
	width: 900px;
	border-top: 3px solid black;
	margin: 0px auto;
}

.reporttabletd {
	border-bottom: 1px dotted black;
}

.reporttr{
	border-bottom: 1px dotted black;
}

.reportcaption {
	font-size: 2em;
	font-weight: bold;	
	margin-bottom: 20px;
	text-align: left;
}

.reportcreate {
	width: 800px;
	text-align: center;
	padding: 30px;
	border-bottom: 1px solid black;
	margin: auto;
}


.reportmenu {
	background-color: pink;
	padding: 10px;
	text-align: left;
	font-weight: bold;
	font-size: 1em;
}

.userin {
	text-align: left;
	padding: 5px;
}

.but4 {
	height: 35px;
	width: 150px;
	border-radius: 10px;
}

.but5 {
	height: 35px;
	width: 150px;
}


.but4:hover {
	background-color: black;
	color: white;
	border: 2px solid black;
	background-color: #F9F3FF;
}

.but5:hover {
	background-color: black;
	color: white;
	border: 2px solid black;
	background-color: #F9F3FF;
}

input[type="text"], [type="password"]{
	height: 30px;
}


.menu{
	vertical-align: middle;
}

.chtext {
	font-size: 20px;
	vertical-align: -10px
}


#summernote{
	resize: none;
}

.recomment{
	display: flex;
	flex-direction:  column;
	flex-wrap: nowrap;
	padding: 30px;
	width: 800px;
	margin: 0 auto;
	justify-content: center;
}
.renick{
	float: left;
	height: 30px;
	justify-content: center;
	margin-right: 20px;
	width: 8%;
}
.recontent{
	float: left;
	height: 26px;
	padding-top: 1px;
	margin: 0px;
	justify-content: center;
	width: 50%;
}
.rebutton{
	float: right;
	height: 30px;
	justify-content: center;
	background-color: #F9F3FF;
	
}
 textarea {
    width: 100%;
    height: 26px;
    resize: none;
    border: none;
    border-bottom: 1px solid black;
  }

#empty-area{
	height: 300px;
}








