@charset "UTF-8";
@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
	;

* {
	font-family: 'Noto Sans KR', sans-serif;
}
body{
	background-image: url("../ko_images/bg.png");
}
.pw-container{
	text-align: center;
	background-image: url("../lee_images/loginbg.jpg");
	background-size:cover;
	background-position:center;
}
.pw_sub_1{
	margin: 100px;
	margin-top: 0px;
	position: absolute;
}
.sendpw_form{
	width: 400px;
	height: 500px;
	position: absolute;
	border-radius: 10px;
	background-color: pink;
	margin-left: 320px;
	margin-top: 200px;
	box-shadow: 3px 3px 10px #333;
}

.sendpw_form h2{
	margin: 10px;
	padding: 50px;
	margin-bottom: 20px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.sendpw_form input[type="text"]{
	width: 80%;
	height: 50px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
}

.sendpw_form input[type="submit"]{
	width:80%;
	height: 50px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color: #F9F3FF;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
}
.sendpw_form input[type="submit"]:hover{
	color: pink;
}