@charset "UTF-8";
* {
	font-family: 'Noto Sans KR', sans-serif;
}

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
	;
	
body{
	background-image: url("../ko_images/bg.png");
}
.find-container{
	background-image: url("../lee_images/loginbg.jpg");
	background-size:cover;
	background-position:center;
}

.id_sub{
	margin: 100px;
	margin-top: 0px;
	position: absolute;
}
.id_form{
	width: 400px;
	height: 500px;
	background-color: pink;
	box-shadow: 3px 3px 10px #333;
	position: absolute;
	margin-left: 300px;
	margin-top: 200px;
	
}
.id_form h2{
	margin: 10px;
	padding: 50px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
} 
.id_form input[type="text"]{
	width: 80%;
	height: 50px;
	margin-bottom: 10px;
	margin-left: 40px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
}
.id_form input[type="email"]{
	width: 80%;
	height: 50px;
	margin-bottom: 10px;
	margin-left: 40px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
}
.id_form input[type="button"]{
	width:80%;
	height: 50px;
	background-color: #F9F3FF;
	margin-bottom: 10px;
	margin-left: 40px;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
}

.id_form input[type="button"]:hover{
	color:pink;
}