@charset "UTF-8";
* {
	font-family: 'Noto Sans KR', sans-serif;
}

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
	;
	
body{
	background-image: url("../ko_images/bg.png");
}

.id_form{
width: 400px;
height: 400px;
margin: 450px;
background-color: pink;
box-shadow: 3px 3px 10px #333;
	
}
.id_form h2{
	margin: 10px;
	padding: 50px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
} 
.id_form input[type="text"]{
	width: 80%;
	height: 50px;
	margin-bottom: 10px;
	margin-left: 40px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
}
.id_form input[type="email"]{
	width: 80%;
	height: 50px;
	margin-bottom: 10px;
	margin-left: 40px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
}
.id_form input[type="button"]{
	width:80%;
	height: 50px;
	margin-bottom: 10px;
	margin-left: 40px;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
}