@charset "UTF-8";
* {
	font-family: 'Noto Sans KR', sans-serif;
}

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
	;

body{
	background-image: url("../ko_images/bg.png");
}
.id-container{
	text-align: center;
	background-image: url("../lee_images/loginbg.jpg");
	background-size:cover;
	background-position:center;
}

.id_sub{
	margin: 100px;
	margin-top: 0px;
	position: absolute;
}

.id_find_form{
	width: 400px;
	height: 400px;
	margin-left: 300px;
	margin-top: 200px;
	border-radius: 10px;
	position: absolute;
	background-color: pink;
	box-shadow: 3px 3px 10px #333;	
}

.id_find_form h2{
	padding: 40px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: white;
}

.id_find_form li{
	margin-left: 10px;
	font-size: 20px;
	font-weight: normal;
}

#back_to{
	width:50%;
	height: 50px;
	margin-top: 30px;
	margin-left: 40px;
	margin: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
	background-color: #F9F3FF;
}

#back_to:hover{
	color: pink;	
}
#pw_to{
	width:50%;
	height: 50px;
	margin-left: 40px;
	margin: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
	background-color: #F9F3FF;
}
#pw_to:hover{
	color: pink;
}