@charset "UTF-8";


h1, h2, span, p, a , button, th, td , div{
     font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* @import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
	; */


body{
	background-image: url("../ko_images/bg.png");
}

html {
  /* background: #95a5a6; */
  
  font-family: 'Helvetica Neue', Arial, Sans-Serif;
}

.login-container {
	text-align: center;
	background-image: url("../lee_images/loginbg.jpg");
	background-size:cover;
	background-position:center;
}

.login{
	margin: 100px;
	margin-top: 0px;
	position: absolute;
} 


.login-form {
	width: 400px;
	padding: 30px;
	background-color: pink;
	box-shadow: 3px 3px 10px #333;
	border-radius: 10px;
	margin: 0 auto;
	position: absolute;
	margin-left: 300px;
	margin-top: 200px;
	border:  5px solid white;	
	
}

.login-form h2{
	margin: 10px;
	padding: 10px;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.login-form input{
	width: 80%;
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
}


.in {
	margin-bottom: 10px;
}

#btn-signin, #btn-signup {
	background-color: #F9F3FF;
	margin-bottom: 10px;
}
#btn-signin:hover{
	color:pink;
}
#btn-signup:hover{
	color: pink;
}


#a1 {
	color: white;
	margin-bottom: 20px;
	font-size:12px;
}

#a1:hover{
	color:gray;
}
#a2 {
	margin-left: 130px;
	color: white;
	font-size: 12px;
	
}
#a2:hover{
	color: gray;
}
#k1 img{
	
	width: 170px;
	margin-top: 10px;
}

#n1 img {

	width: 170px;
}