<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cho_mapper">
	<select id="selectTourList" parameterType="Map" resultType="choTourVO">
		SELECT contentid, contenttypeid, title, firstimage FROM tourapi_t WHERE areaCode = #{areaCode} AND sigungucode = #{sigunguCode} AND contenttypeid = #{contentType}
	</select>
</mapper>
















