<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="recommend">
	<select id="wish_list" parameterType="String" resultType="wishvo">
		select * from placewish_t where u_idx = #{u_idx}
	</select>
	
	<insert id="postInsert">
	    INSERT INTO pathpost_t (u_idx, u_id, firstimage, path_post_title, path_post_content, r_areacode,r_contenttypeid,heart,regdate) 
	    VALUES (#{u_idx}, #{u_id},#{firstimage},#{path_post_title},#{path_post_content}, #{r_areacode},#{r_contenttypeid},0,sysdate())
	</insert>
	
	<insert id="markerInsert">
		<selectKey keyProperty="path_post_idx" resultType="String" order="BEFORE">
			SELECT (IFNULL(MAX(path_post_idx),0)) as path_post_idx FROM pathpost_t
	    </selectKey>
	    INSERT INTO pathmarker_t (contentid, path_post_idx, mapy, mapx, areacode, sigungucode,contenttypeid,title,regdate) 
	    VALUES (#{contentid}, #{path_post_idx},#{mapy},#{mapx},#{areacode}, #{sigungucode}, #{contenttypeid}, #{title}, sysdate())
	</insert>
	
	<insert id="markerImgInsert">
		<selectKey keyProperty="path_marker_idx" resultType="String" order="BEFORE">
			SELECT (IFNULL(MAX(path_marker_idx),0)) as path_marker_idx FROM pathmarker_t
	    </selectKey>
	    INSERT INTO pathmarker_img_t (image_name, path_marker_idx) 
	    VALUES (#{image_name}, #{path_marker_idx})
	</insert>
</mapper>

