<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ko">
	
	
	<select id="area_list" parameterType="String" resultType="kopost">
		select * from pathpost_t where r_areacode = #{r_areacode} order by heart desc limit 5
	</select>
	
	<select id="tema_list" parameterType="String" resultType="kopost">
		select * from pathpost_t where r_contenttypeid = #{r_contenttypeid} order by heart desc limit 5
	</select>
	
	<select id="path_list" parameterType="String" resultType="kopost">
		select p.*
		from pathmarker_t m , pathpost_t p
		where m.path_post_idx = p.path_post_idx and m.contentid = #{contentid}
		order by p.heart desc
		limit 4
	</select>
	
	<select id="place_detail" parameterType="String" resultType="ivo">
		select * from tourapi_t where contentid = #{contentid}
	</select>
	
	<insert id="popup_insert" parameterType="popvo">
		insert into popup_t (subject, f_name, regdate) 
		values (#{subject}, #{f_name}, sysdate())
	</insert>
	
	<select id="popup_list" parameterType="Map" resultType="popvo">
		select * from popup_t order by regdate desc limit #{limit} offset #{offset}
	</select>
	
	<select id="popup_one" resultType="popvo">
		select * from popup_t where popup_state = 1
	</select>
	
	<update id="popup_update_off">
		update popup_t
		set popup_state = 0
		where popup_idx = (select popup_idx from popup_t where popup_state = 1)
	</update>
	
	<update id="popup_update_on" parameterType="String">
		update popup_t
		set popup_state = 1
		where popup_idx = #{popup_idx}
	</update>
	
	<delete id="popup_delete" parameterType="String">
		delete from popup_t where popup_idx = #{popup_idx}
	</delete>
	
	<select id="count" resultType="int">
		select count(*) from popup_t
	</select>
	 
</mapper>
















