<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ko_user">
	
	<select id="count" resultType="int">
		select count(*) from user_t
	</select>
	
	<select id="search_count" parameterType="String" resultType="int">
		select count(*) from user_t where u_name like concat('%', #{search}, '%')
	</select>
	
	<select id="stop_user" resultType="uservo">
		select * from user_t where u_state = 1
	</select>
	
	<select id="list" parameterType="Map" resultType="uservo">
		select * from user_t limit #{limit} offset #{offset}
	</select>
	
	<select id="stop_detail" parameterType="String" resultType="ustopvo">
		select * from userstop_t where u_idx = #{u_idx}
	</select>
	
	<select id="search" parameterType="pvo" resultType="uservo">
		select * from user_t 
		where u_name like concat('%', #{search}, '%') 
		or u_id like concat('%', #{search}, '%')
		limit #{limit} offset #{offset}
	</select>
	
	<update id="stop_state" parameterType="String">
		update user_t 
		set u_state = 0 , u_stopdate = null
		where u_idx = #{u_idx}
	</update>
	
	<delete id="stop_delete" parameterType="String">
		delete from userstop_t where ustop_idx = #{ustop_idx}
	</delete>
	
	<update id="stop_update" parameterType="Map">
		update user_t
		set u_stopdate = DATE_ADD(sysdate(), INTERVAL #{stop_days} DAY) , u_state = 1
		where u_idx = #{u_idx} 
	</update>
	
	<insert id="stop" parameterType="Map">
		insert into userstop_t (u_idx, admin_id, stop_note) 
		values (#{u_idx}, #{admin_id}, #{stop_note}) 
	</insert>
	
</mapper>
















