<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kpost_t">
	
	
	<select id="kpostDetail" resultType="kpostvo">
		select * from pathpost_t where path_post_idx = #{path_post_idx}
	</select>
	
	
	<select id="rcommentList" parameterType="String" resultType="commentvo">
		select * from comment_t where path_post_idx = #{path_post_idx}
	</select>

	<insert id="rcommentInsert" parameterType="commentvo">
		insert into comment_t (content, regdate, u_nickname, path_post_idx, u_idx)
		values (#{content}, sysdate(), #{u_nickname}, #{path_post_idx}, #{u_idx})
	</insert>
	
	<delete id="rcommentDelete" parameterType="String">
		delete from comment_t where comment_idx = #{comment_idx}
	</delete>
	
	
	
	
	
</mapper>
















