<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kpost_t">
	
	
	<select id="kpostDetail" resultType="kpostvo">
		select * from pathpost_t where path_post_idx = #{path_post_idx}
	</select>
	
</mapper>
















