<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kpost_t">
	
	
	<select id="kpostDetail" resultType="kpostvo">
	    select p.*, u.u_lev, u.u_nickname
	    from pathpost_t p
	    inner join user_t u on p.u_idx = u.u_idx
	    where p.path_post_idx = #{path_post_idx}
	</select>
	<!-- 
	<select id="kpostDetail" resultType="kpostvo">
		select * from pathpost_t where path_post_idx = #{path_post_idx}
	</select>
	 -->
	
	<!-- 
	<select id="rcommentList" parameterType="String" resultType="commentvo">
		select * from comment_t where path_post_idx = #{path_post_idx}
	</select>
	 -->
	<select id="rcommentList" parameterType="String" resultType="commentvo">
	    select c.*, u.u_lev
	    from comment_t c
	    inner join user_t u on c.u_idx = u.u_idx
	    where c.path_post_idx = #{path_post_idx}
	</select>
	
	
	<insert id="rcommentInsert" parameterType="commentvo">
		insert into comment_t (content, regdate, u_nickname, path_post_idx, u_idx, u_id)
		values (#{content}, sysdate(), #{u_nickname}, #{path_post_idx}, #{u_idx}, #{u_id})
	</insert>
	
	<delete id="rcommentDelete" parameterType="String">
		delete from comment_t where comment_idx = #{comment_idx}
	</delete>
	
	<insert id="ilikethis" parameterType="map">
		insert into pathwish_t (path_post_idx, u_idx, firstimage, r_contenttypeid, path_post_title, regdate)
		values(#{kpostvo.path_post_idx}, #{membervo.u_idx}, #{kpostvo.firstimage}, #{kpostvo.r_contenttypeid}, #{kpostvo.path_post_title}, sysdate())
	</insert>
	
	<update id="ilikehit" parameterType="kpostvo">
		update pathpost_t set heart = heart + 1 where path_post_idx = #{path_post_idx}
	</update>
	
	<delete id="ihatethis" parameterType="map">
	    delete from pathwish_t 
	    where path_post_idx = #{kpostvo.path_post_idx} 
	    and u_idx = #{membervo.u_idx}
	</delete>
	
	<update id="ihatehit" parameterType="kpostvo">
		update pathpost_t set heart = heart - 1 where path_post_idx = #{path_post_idx}
	</update>
	
	<select id="pathtable" resultType="kpostvo">
		select * from pathwish_t where path_post_idx = #{path_post_idx}
	</select>
	
</mapper>
















