<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="lee-mapper">
  	<insert id="insert" parameterType="mvo">
  		insert into user_t(u_id, u_pwd, u_name, u_birth, u_email, u_gender, u_nickname, u_self, u_state, u_stopdate, u_regdate, u_active, k_status, n_status)
  		values(#{u_id}, #{u_pwd}, #{u_name}, #{u_birth}, #{u_email}, #{u_gender}, #{u_nickname}, #{u_self}, 0, #{u_stopdate}, sysdate(), 0, #{k_status}, #{n_status})
  	</insert>
  	
  	<select id="login" parameterType="mvo" resultType="mvo">
  		select * from user_t where u_id = #{u_id}
  	</select>
  	<select id="findPwd" parameterType="Map" resultType="mvo">
  		select * from user_t where u_id = #{u_id} and u_email = #{email}
  	</select>
  	<update id="pass_update" parameterType="mvo">
  		update user_t 
  		set u_pwd = #{u_pwd}
  		where u_email = #{u_email} and u_id = #{u_id}
  	</update>
  	<select id="findId" resultType="mvo">
  		select * from user_t where u_name = #{u_name} and  u_email = #{u_email}
  	</select>
  	<select id="findkakao" parameterType="Map" resultType="mvo">
  		select * from user_t where u_email = #{email} and u_nickname = #{nickname} 
  	</select>
  	<update id="kakaoUp" parameterType="Map">
  		update user_t
  		set k_status = 1
  		where u_email = #{email}
  	</update>
  	<select id="select2" parameterType="Map" resultType="mvo">
  		select * from user_t where u_email = #{email}
  	</select>
  	<insert id="kakao_insert" parameterType="Map">
  		insert into user_t(u_id, u_pwd, u_name, u_birth, u_email, u_gender, u_nickname, u_self, u_state, u_stopdate, u_regdate, u_active , k_status, n_status)
  		values( "정보없음", "정보없음", "정보없음", "정보없음", #{email}, "정보없음", #{nickname}, "정보없음", 0, #{u_stopdate}, sysdate(), 0, 1 , 0)
  	</insert>
  	<select id="findnaver" parameterType="Map" resultType="int">
  		select count(*) from user_t where  u_email = #{email}
  	</select>
  	<update id="naverUp" parameterType="Map">
  		update user_t 
  		set n_status = 1 
  		where u_email = #{email}
  	</update>
  	<select id="select1" parameterType="Map" resultType="mvo">
  		select * from user_t where u_email = #{email}
  	</select>
  	
  	<insert id="naver_insert" parameterType="Map">
		insert into user_t (u_id, u_pwd, u_name, u_birth, u_email, u_gender, u_nickname, u_self, u_state, u_stopdate, u_regdate, u_active , k_status, n_status)
		values('정보없음', '정보없음', #{name}, '정보없음', #{email}, '정보없음', #{name}, '정보없음', 0, #{u_stopdate}, sysdate(), 0, 0 , 1) 	
  	</insert> 
  	
  </mapper>