<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="lee-mapper">
  	<insert id="insert" parameterType="mvo">
  		insert into user_t(u_id, u_pwd, u_name, u_birth, u_email, u_gender, u_nickname, u_self, u_grade, u_stopdate, u_regdate, u_active)
  		values(#{u_id}, #{u_pwd}, #{u_name}, #{u_birth}, #{u_email}, #{u_gender}, #{u_nickname}, #{u_self}, 0, #{u_stopdate}, sysdate(), 0)
  	</insert>
  	<select id="login" parameterType="mvo" resultType="mvo">
  		select * from user_t where u_id = #{u_id}
  	</select>
  	<select id="findPwd" parameterType="Map" resultType="mvo">
  		select * from user_t where u_id = #{u_id} and u_email = #{email}
  	</select>
  	<update id="pass_update" parameterType="mvo">
  		update user_t 
  		set u_pwd = #{u_pwd}
  		where u_email = #{u_email} and u_id = #{u_id}
  	</update>
  	<select id="findId" resultType="mvo">
  		select * from user_t where u_name = #{u_name} and  u_email = #{u_email}
  	</select>
  	<select id="findkakao" parameterType="Map" resultType="mvo">
  		select * from user_t where k_nickname = #{nickname} and k_email = #{email}
  	</select>
  	<insert id="kakao_insert" parameterType="Map">
  		insert into user_t(u_id, u_pwd, u_name, u_birth, u_email, u_gender, u_nickname, u_self, u_grade, u_stopdate, u_regdate, u_active , k_nickname, k_email)
  		values(#{id}, 0, 0, 0, 0, 0, 0, 0, 0, #{u_stopdate}, sysdate(), 0 , #{nickname}, #{email})
  	</insert>
  	<select id="findnaver" parameterType="String" resultType="mvo">
  		select * from user_t where  n_email = #{email} 
  	</select>
  	<insert id="naver_insert" parameterType="Map">
		insert into user_t (u_id, u_pwd, u_name, u_birth, u_email, u_gender, u_nickname, u_self, u_grade, u_stopdate, u_regdate, u_active , k_nickname, k_email, n_nickname, n_email, n_phone)
		values(1, 1, 1, 1, 1, 1, 1, 1, 1, #{u_stopdate}, sysdate(), 0, "정보없음", "정보없음", #{name}, #{email}, #{mobile}) 	
  	</insert>
  	
  </mapper>