<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="report_t">
	
	<select id="reportCount" resultType="int">
		select count(*) from report_t
	</select>

	<select id="reportList" parameterType="Map" resultType="reportvo">
		select * from report_t order by report_idx desc limit #{limit} offset #{offset}
	</select>
	
	<select id="reportlist" resultType="reportvo">
		select * from report_t order by report_idx
	</select>
	
	<insert id="reportWrite" parameterType="reportvo">
		insert into report_t (report_title, u_id, content, regdate, u_idx, report_pw)
		values (#{report_title}, #{u_id}, #{content}, sysdate(), #{u_idx}, #{report_pw})
	</insert>
	
	<select id="reportDetail" resultType="reportvo">
		select * from report_t where report_idx = #{report_idx}
	</select>
	
	<delete id="reportDelete">
		delete from report_t where report_idx = #{report_idx}
	</delete>
	
	<update id="reportUpdate" parameterType="reportvo">
 		update report_t
 		set report_title = #{report_title},
 			content = #{content}
 		where report_idx = #{report_idx}
 	</update>
	
</mapper>
















