<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="tourtest_t">
	
	
	<select id="tourDetail" resultType="tourtestvo">
		select * from pathmaker_t where path_maker_idx = #{path_maker_idx}
	</select>
	
	<select id="tourMaps" resultType="tourtestvo">
		select mapy, mapx
		from pathmaker_t where path_post_idx = 1 and path_maker_idx in (1,2,3);
	</select>
	
	
</mapper>
















