<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="tourtest_t">
	
	
	<select id="tourDetail" resultType="tourtestvo">
		select  
		title
		from pathmarker_t where path_post_idx = #{path_post_idx}
	</select>
	
	<select id="tourMaps" resultType="tourtestvo">
		select mapy, mapx
		from pathmarker_t where path_post_idx = #{path_post_idx}
	</select>
	
	
</mapper>
















