<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tourtest_t">


	<select id="tourDetail" resultType="tourtestvo">
		select
		title
		from pathmarker_t where path_post_idx = #{path_post_idx}
	</select>

	<select id="tourMaps" resultType="tourtestvo">
		select mapy, mapx
		from
		pathmarker_t where path_post_idx = #{path_post_idx}
	</select>

	<select id="tourImg" resultType="tourtestvo">
	    SELECT *
	    FROM pathmarker_img_t
	    WHERE path_marker_idx IN (
	        SELECT path_marker_idx
	        FROM pathmarker_t
	        WHERE path_post_idx = #{path_post_idx}
	    ) GROUP BY path_marker_idx
	</select>

	<select id="markerImgList" parameterType="String" resultType="tourtestvo">
	    SELECT pi.*, pt.title
	    FROM pathmarker_img_t pi
	    INNER JOIN pathmarker_t pt ON pi.path_marker_idx = pt.path_marker_idx
	    WHERE pi.path_marker_idx = #{path_marker_idx}
	</select>


<!-- 
	<select id="markerImgList" parameterType="String" resultType="tourtestvo">
		SELECT * FROM pathmarker_img_t WHERE path_marker_idx = #{path_marker_idx}
	</select>
	
 -->	
	<select id="imgDetail" resultType="map">
		SELECT t.*, k.*
	    FROM pathmarker_img_t t
	    JOIN pathmarker_t k ON t.path_post_idx = k.path_post_idx
	    WHERE t.path_marker_idx = #{tourtestvo.path_marker_idx}
	    AND k.path_post_idx = #{kpostvo.path_post_idx}
	</select>
	
</mapper>
















