<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="cacheEnabled" value="false" />
	</settings>
	<typeAliases>
		<!--<typeAlias type="com.ict.travek.test.dao.Test_VO" alias="testvo"/>-->
		<typeAlias type="com.ict.travel.cho.dao.ChoTourVO" alias="choTourVO"/>
	</typeAliases>
	<mappers>
 		<mapper resource="mappers/test-mapper.xml" />
 		<mapper resource="mappers/cho-mapper.xml" />
	</mappers>
</configuration>