<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="cacheEnabled" value="false" />
	</settings>
	<typeAliases>
		<typeAlias type="com.ict.travel.jung.dao.WishListVO" alias="wishvo"/>
		<typeAlias type="com.ict.travel.jung.dao.RecommendVO" alias="rcvo"/>
		<typeAlias type="com.ict.travel.jung.dao.RecommendMarkerVO" alias="rcmvo"/>
		<typeAlias type="com.ict.travel.jung.dao.MarkerImgVO" alias="mkivo"/>
		<typeAlias type="com.ict.travel.jung.dao.PathWishVO" alias="pwvo"/>
		<typeAlias type="com.ict.travel.jung.dao.ReportVO" alias="rpvo"/>
		<typeAlias type="com.ict.travel.jung.dao.BoardVO" alias="bdvo"/>
		<typeAlias type="com.ict.travel.ko.dao.KoVO" alias="kovo"/>
		<typeAlias type="com.ict.travel.ko.dao.ItemVO" alias="ivo"/>
		<typeAlias type="com.ict.travel.lee.dao.MemberVO" alias="mvo"/>
		<typeAlias type="com.ict.travel.kim.dao.BoardVO" alias="boardvo"/>
		<typeAlias type="com.ict.travel.kim.dao.ReportVO" alias="reportvo"/>
		<typeAlias type="com.ict.travel.kim.dao.CommentVO" alias="commentvo"/>
		<typeAlias type="com.ict.travel.kim.dao.TourtestVO" alias="tourtestvo"/>
		<typeAlias type="com.ict.travel.kim.dao.KpostVO" alias="kpostvo"/>
		<typeAlias type="com.ict.travel.cho.dao.ChoTourVO" alias="choTourVO"/>
		<typeAlias type="com.ict.travel.cho.dao.PlaceWishVO" alias="placeWishVO"/>
		<typeAlias type="com.ict.travel.cho.dao.TourapiVO" alias="tourapiVO"/>
		<typeAlias type="com.ict.travel.cho.dao.PathPostVO" alias="pathPostVO"/>
		<typeAlias type="com.ict.travel.cho.dao.PathWishVO" alias="pathWishVO"/>
		<typeAlias type="com.ict.travel.cho.dao.SearchVO" alias="searchVO"/>
	</typeAliases>
	<mappers>
 		<mapper resource="mappers/board-mapper.xml" />
 		<mapper resource="mappers/report-mapper.xml" />
 		<mapper resource="mappers/tourtest-mapper.xml" />
 		<mapper resource="mappers/kpost-mapper.xml" />
 		<mapper resource="mappers/cho-mapper.xml" />
 		<mapper resource="mappers/jung-mapper.xml" />
 		<mapper resource="mappers/ko-mapper.xml" />
 		<mapper resource="mappers/lee-mapper.xml" />
	</mappers>
</configuration>