@charset "UTF-8";
@import "../common_css/reset.css";
* {
  box-sizing: border-box;
}

a {
	text-decoration: none;
}

.footer {
	background-color: #2F2F2F;
	color: white;
	height: 200px;
}

.f_wrapper {
	width: 1300px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 2fr 8fr;
	grid-gap: 20px;
	padding-top: 30px;
}

.f_logo {
	text-align: center;
}

.f_logo img {
	filter: grayscale(1);
	height: 150px;
	border-radius: 50%;
}

.f_nav ul {
	display: flex;
	border-bottom: 1px solid white;
}

.f_nav li {
	padding: 20px;
	width: 25%;
}

.f_nav a:link { color: white; }
.f_nav a:visited { color: white; }
.f_nav a:hover { color: pink; }
.f_nav a:active { color: white; }

.f_info {
	padding-top: 20px;
	padding-left: 20px;
	line-height: 30px;
	display: grid;
	grid-template-columns: 7fr 3fr;
}

.f_info img {
	width: 250px;	
}
